src/timewriter/soap/api/wsdl/timewriterapi.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="api.timewriter.soap.nl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="TimeWriter" targetNamespace="api.timewriter.soap.nl">
                  
  <wsdl:types>
    <xsd:schema targetNamespace="api.timewriter.soap.nl">
      <xsd:complexType name="Request">
        <xsd:sequence>
          <xsd:element name="securityToken" maxOccurs="1" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestResult">
        <xsd:sequence>
          <xsd:element name="error" type="xsd:boolean"></xsd:element>
          <xsd:element name="errorMessage" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="Login">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="api_key" type="xsd:string"></xsd:element>
            <xsd:element name="user_key" type="xsd:string"></xsd:element>
            <xsd:element name="softwareDesc" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LoginResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="securityToken" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="LoginResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:LoginResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Logout">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="securityToken" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LogoutResponse"/>

      <xsd:simpleType name="AspectType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="IT_MED"/>
          <xsd:enumeration value="IT_AT1"/>
          <xsd:enumeration value="IT_AT2"/>
          <xsd:enumeration value="IT_AT3"/>
          <xsd:enumeration value="IT_AT4"/>
          <xsd:enumeration value="IT_AT5"/>
          <xsd:enumeration value="GR_MED"/>
          <xsd:enumeration value="GR_AT1"/>
          <xsd:enumeration value="GR_AT2"/>
          <xsd:enumeration value="GR_AT3"/>
          <xsd:enumeration value="GR_AT4"/>
          <xsd:enumeration value="GR_AT5"/>
          <xsd:enumeration value="IT_TAA"/>
          <xsd:enumeration value="GR_TAA"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AspectTypeString">
          <xsd:union memberTypes="tns:AspectType xsd:string"/>
      </xsd:simpleType>
      
      <xsd:simpleType name="TaskInvoiceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NONE"/>
          <xsd:enumeration value="SUBSEQUENT_CALC"/>
          <xsd:enumeration value="FIXED_PRICE"/>
          <xsd:enumeration value="RECURRING"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TaskInvoiceTypeString">
          <xsd:union memberTypes="tns:TaskInvoiceType xsd:string"/>
      </xsd:simpleType>  
            
      <xsd:complexType name="UserField">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" minOccurs="1"/>
          <xsd:element name="value" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UserFieldList">
        <xsd:sequence>
          <xsd:element name="userField" type="tns:UserField" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>      

      <xsd:complexType name="InvoiceData">
        <xsd:sequence>
          <xsd:element name="address" type="xsd:string" minOccurs="0"/>
          <xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="city" type="xsd:string" minOccurs="0"/>
          <xsd:element name="countryCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="contact" type="xsd:string" minOccurs="0"/>
          <xsd:element name="kvk" type="xsd:string" minOccurs="0"/>
          <xsd:element name="vatId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="vatReverseCharge" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="email" type="xsd:string" minOccurs="0"/>          
          <xsd:element name="debtorId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="reference" type="xsd:string" minOccurs="0"/>
          <xsd:element name="debtorLedgerAccountCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="turnoverLedgerAccountCode" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="RecurringPatternType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="WEEK"/>
          <xsd:enumeration value="MONTH"/>
          <xsd:enumeration value="YEAR"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RecurringPatternTypeString">
          <xsd:union memberTypes="tns:RecurringPatternType xsd:string"/>
      </xsd:simpleType>
      
      <xsd:complexType name="RecurringPattern">
        <xsd:sequence>
          <xsd:element name="start" type="xsd:date" minOccurs="0"/>
          <xsd:element name="end" type="xsd:date" minOccurs="0"/>
          <xsd:element name="type" type="tns:RecurringPatternTypeString" minOccurs="0" default="MONTH"/>
          <xsd:element name="frequency" type="xsd:int" minOccurs="0" default="1"/>          
        </xsd:sequence>
      </xsd:complexType>
     
      <xsd:complexType name="TaskData">
        <xsd:sequence>
          <xsd:element name="no" type="xsd:long" minOccurs="0"/>
          <xsd:element name="groupId" type="xsd:long" minOccurs="0"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>       
          <xsd:element name="closed" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="budget" type="xsd:float" minOccurs="0"/>
          <xsd:element name="invoiceable" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="useInvoicing" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="invoiceType" type="tns:TaskInvoiceTypeString" minOccurs="0"/>
          <xsd:element name="price" type="xsd:float" minOccurs="0"/>
          <xsd:element name="recurringPattern" type="tns:RecurringPattern" minOccurs="0"/>
          <xsd:element name="id_GR_MED" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT1" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT2" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT3" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT4" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT5" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

     
      <xsd:complexType name="Aspect">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" minOccurs="0"/>
          <xsd:element name="aspectType" type="tns:AspectTypeString" minOccurs="1"/>
          <xsd:element name="name" type="xsd:string" minOccurs="1"/>
          <xsd:element name="category" type="xsd:string" minOccurs="0"/>
          <xsd:element name="abbreviation" type="xsd:string" minOccurs="0"/>
          <xsd:element name="loginName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="password" type="xsd:string" minOccurs="0"/>          
          <xsd:element name="email" type="xsd:string" minOccurs="0"/>
          <xsd:element name="overhead" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="validFrom" type="xsd:date" minOccurs="0"/>
          <xsd:element name="validTo" type="xsd:date" minOccurs="0"/>
          <xsd:element name="notForAccess" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="notForAuthorizations" type="xsd:boolean" minOccurs="0"/>          
          <xsd:element name="notForCombinations" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="notForTariffAgreements" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="notForBudgets" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="notForProgramModules" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="invoiceData" type="tns:InvoiceData" minOccurs="0"/>
          <xsd:element name="taskData" type="tns:TaskData" minOccurs="0"/>          
          <xsd:element name="userFieldList" type="tns:UserFieldList" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AspectList">
        <xsd:sequence>
          <xsd:element name="aspect" type="tns:Aspect" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetAspects">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="aspectType" type="tns:AspectTypeString"/>
                <xsd:element name="filters" type="tns:Filters" minOccurs="0" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetAspectsResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="aspectList" type="tns:AspectList" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetAspectsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:GetAspectsResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateAspect">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="aspect" type="tns:Aspect" minOccurs="1"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UpdateAspectResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="aspect" type="tns:Aspect" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="UpdateAspectResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:UpdateAspectResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
      <xsd:element name="DeleteAspect">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="id" type="xsd:long" minOccurs="1"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DeleteAspectResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="success" type="xsd:boolean" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DeleteAspectResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:DeleteAspectResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
            
      <xsd:simpleType name="RelationType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="GROUP_MEMBER-GR_AT1-IT_AT1"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_AT2-IT_AT2"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_AT3-IT_AT3"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_AT4-IT_AT4"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_AT5-IT_AT5"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_MED-IT_MED"/>

          <xsd:enumeration value="GROUP_MEMBER-GR_AT1-IT_AT1_ALL"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_AT2-IT_AT2_ALL"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_AT3-IT_AT3_ALL"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_AT4-IT_AT4_ALL"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_AT5-IT_AT5_ALL"/>
          <xsd:enumeration value="GROUP_MEMBER-GR_MED-IT_MED_ALL"/>          
          
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT1"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT1"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-GR_AT1"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-GR_AT1"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT1_ALL"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT1_ALL"/>
          
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT2"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT2"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-GR_AT2"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-GR_AT2"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT2_ALL"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT2_ALL"/>          
          
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT3"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT3"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-GR_AT3"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-GR_AT3"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT3_ALL"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT3_ALL"/>

          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT4"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT4"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-GR_AT4"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-GR_AT4"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT4_ALL"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT4_ALL"/>
          
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT5"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT5"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-GR_AT5"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-GR_AT5"/>
          <xsd:enumeration value="AUTHORIZATION-IT_MED-IT_AT5_ALL"/>
          <xsd:enumeration value="AUTHORIZATION-GR_MED-IT_AT5_ALL"/>
          
          <xsd:enumeration value="COMBINATION-IT_AT1-IT_AT2"/>
          <xsd:enumeration value="COMBINATION-IT_AT1-GR_AT2"/>
          <xsd:enumeration value="COMBINATION-GR_AT1-IT_AT2"/>
          <xsd:enumeration value="COMBINATION-GR_AT1-GR_AT2"/>
          <xsd:enumeration value="COMBINATION-IT_AT1-IT_AT2_ALL"/>
          <xsd:enumeration value="COMBINATION-GR_AT1-IT_AT2_ALL"/>             

          <xsd:enumeration value="COMBINATION-IT_AT2-IT_AT3"/>
          <xsd:enumeration value="COMBINATION-IT_AT2-GR_AT3"/>
          <xsd:enumeration value="COMBINATION-GR_AT2-IT_AT3"/>
          <xsd:enumeration value="COMBINATION-GR_AT2-GR_AT3"/>
          <xsd:enumeration value="COMBINATION-IT_AT2-IT_AT3_ALL"/>          
          <xsd:enumeration value="COMBINATION-GR_AT2-IT_AT3_ALL"/>

          <xsd:enumeration value="COMBINATION-IT_AT3-IT_AT4"/>
          <xsd:enumeration value="COMBINATION-IT_AT3-GR_AT4"/>
          <xsd:enumeration value="COMBINATION-GR_AT3-IT_AT4"/>
          <xsd:enumeration value="COMBINATION-GR_AT3-GR_AT4"/>
          <xsd:enumeration value="COMBINATION-IT_AT3-IT_AT4_ALL"/>          
          <xsd:enumeration value="COMBINATION-GR_AT3-IT_AT4_ALL"/>

          <xsd:enumeration value="COMBINATION-IT_AT4-IT_AT5"/>
          <xsd:enumeration value="COMBINATION-IT_AT4-GR_AT5"/>
          <xsd:enumeration value="COMBINATION-GR_AT4-IT_AT5"/>
          <xsd:enumeration value="COMBINATION-GR_AT4-GR_AT5"/>
          <xsd:enumeration value="COMBINATION-IT_AT4-IT_AT5_ALL"/>          
          <xsd:enumeration value="COMBINATION-GR_AT4-IT_AT5_ALL"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RelationTypeString">
          <xsd:union memberTypes="tns:RelationType xsd:string"/>
      </xsd:simpleType>
      
      <xsd:complexType name="Relation">
        <xsd:sequence>
          <xsd:element name="id1" type="xsd:long" minOccurs="1"/>
          <xsd:element name="id2" type="xsd:long" minOccurs="1"/>
          <xsd:element name="relationType" type="tns:RelationTypeString" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RelationList">
        <xsd:sequence>
          <xsd:element name="relation" type="tns:Relation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>                  
      <xsd:element name="GetRelations">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="id1" type="xsd:long"/>
                <xsd:element name="id2" type="xsd:long"/>
                <xsd:element name="relationType" type="tns:RelationTypeString"/>
                <xsd:element name="filters" type="tns:Filters" minOccurs="0" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetRelationsResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="relationList" type="tns:RelationList" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetRelationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:GetRelationsResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateRelation">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="relation" type="tns:Relation" minOccurs="1"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UpdateRelationResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="relation" type="tns:Relation" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="UpdateRelationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:UpdateRelationResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
      <xsd:element name="DeleteRelation">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="id1" type="xsd:long" minOccurs="1"/>
                <xsd:element name="id2" type="xsd:long" minOccurs="1"/>
                <xsd:element name="relationType" type="tns:RelationTypeString" minOccurs="1"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DeleteRelationResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="success" type="xsd:boolean" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DeleteRelationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:DeleteRelationResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
      
      <xsd:complexType name="Booking">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" minOccurs="0"/>
          
          <xsd:element name="start" type="xsd:dateTime" minOccurs="1"/>
          <xsd:element name="duration" type="xsd:integer" minOccurs="1"/>
          <xsd:element name="approvalLevel" type="xsd:integer" minOccurs="0"/>          
          <xsd:element name="leaveState" type="xsd:integer" minOccurs="0"/>
          <xsd:element name="invoiced" type="xsd:boolean" minOccurs="0"/> 
          
          <xsd:element name="tariff" type="xsd:float" minOccurs="0"/>
          
          <xsd:element name="id_IT_MED" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_GR_MED" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_TAA" type="xsd:long" minOccurs="0"/>          
          <xsd:element name="id_IT_AT1" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT2" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT3" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT4" type="xsd:long" minOccurs="0"/>
          <xsd:element name="id_IT_AT5" type="xsd:long" minOccurs="0"/>
          
          <xsd:element name="name_IT_MED" type="xsd:string" minOccurs="0"/>
          <xsd:element name="name_GR_MED" type="xsd:string" minOccurs="0"/>
          <xsd:element name="name_IT_TAA" type="xsd:string" minOccurs="0"/>          
          <xsd:element name="name_IT_AT1" type="xsd:string" minOccurs="0"/>
          <xsd:element name="name_IT_AT2" type="xsd:string" minOccurs="0"/>
          <xsd:element name="name_IT_AT3" type="xsd:string" minOccurs="0"/>
          <xsd:element name="name_IT_AT4" type="xsd:string" minOccurs="0"/>
          <xsd:element name="name_IT_AT5" type="xsd:string" minOccurs="0"/>
          
          <xsd:element name="timestamp" type="xsd:dateTime" minOccurs="1"/>
          
          <xsd:element name="userFieldList" type="tns:UserFieldList" minOccurs="0"/>          
        </xsd:sequence>
      </xsd:complexType>      
      
      <xsd:element name="GetBookings">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
                <xsd:element name="filters" type="tns:Filters" minOccurs="0" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BookingList">
        <xsd:sequence>
          <xsd:element name="booking" type="tns:Booking" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetBookingsResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="bookingList" type="tns:BookingList" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetBookingsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:GetBookingsResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateBooking">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="booking" type="tns:Booking" minOccurs="1"/>
                <xsd:element name="roundTimes" type="xsd:boolean" minOccurs="1"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UpdateBookingResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="booking" type="tns:Booking" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="UpdateBookingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:UpdateBookingResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>          
      <xsd:element name="DeleteBooking">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="tns:Request">
              <xsd:sequence>
                <xsd:element name="id" type="xsd:long" minOccurs="1"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DeleteBookingResult">
        <xsd:complexContent>
          <xsd:extension base="tns:RequestResult">
            <xsd:sequence>
              <xsd:element name="success" type="xsd:boolean" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DeleteBookingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:DeleteBookingResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>          
      
      
      <xsd:complexType name="Filters">
        <xsd:sequence>
          <xsd:element name="filter" type="tns:Filter" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Filter">
        <xsd:sequence>
          <xsd:element name="field" type="xsd:string" minOccurs="1"></xsd:element>
          <xsd:element name="operator" type="xsd:string" minOccurs="1"></xsd:element>
          <xsd:element name="value" type="xsd:string" minOccurs="1"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="HelloWorldRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="HelloWorldResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="LoginRequest">
    <wsdl:part name="request" element="tns:Login"/>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="reponse" element="tns:LoginResponse"/>
  </wsdl:message>
  <wsdl:message name="LogoutRequest">
    <wsdl:part name="request" element="tns:Logout"/>
  </wsdl:message>
    
  <wsdl:message name="GetAspectsRequest">
    <wsdl:part name="request" element="tns:GetAspects"/>
  </wsdl:message>
  <wsdl:message name="GetAspectsResponse">
    <wsdl:part name="reponse" element="tns:GetAspectsResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateAspectRequest">
    <wsdl:part name="request" element="tns:UpdateAspect"/>
  </wsdl:message>
  <wsdl:message name="UpdateAspectResponse">
    <wsdl:part name="response" element="tns:UpdateAspectResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteAspectRequest">
    <wsdl:part name="request" element="tns:DeleteAspect"/>
  </wsdl:message>
  <wsdl:message name="DeleteAspectResponse">
    <wsdl:part name="response" element="tns:DeleteAspectResponse"/>
  </wsdl:message>
    
  <wsdl:message name="GetRelationsRequest">
    <wsdl:part name="request" element="tns:GetRelations"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsResponse">
    <wsdl:part name="reponse" element="tns:GetRelationsResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateRelationRequest">
    <wsdl:part name="request" element="tns:UpdateRelation"/>
  </wsdl:message>
  <wsdl:message name="UpdateRelationResponse">
    <wsdl:part name="response" element="tns:UpdateRelationResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteRelationRequest">
    <wsdl:part name="request" element="tns:DeleteRelation"/>
  </wsdl:message>
  <wsdl:message name="DeleteRelationResponse">
    <wsdl:part name="response" element="tns:DeleteRelationResponse"/>
  </wsdl:message>
      
  <wsdl:message name="GetBookingsRequest">
    <wsdl:part name="request" element="tns:GetBookings"/>
  </wsdl:message>
  <wsdl:message name="GetBookingsResponse">
    <wsdl:part name="reponse" element="tns:GetBookingsResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateBookingRequest">
    <wsdl:part name="request" element="tns:UpdateBooking"/>
  </wsdl:message>
  <wsdl:message name="UpdateBookingResponse">
    <wsdl:part name="response" element="tns:UpdateBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteBookingRequest">
    <wsdl:part name="request" element="tns:DeleteBooking"/>
  </wsdl:message>
  <wsdl:message name="DeleteBookingResponse">
    <wsdl:part name="response" element="tns:DeleteBookingResponse"/>
  </wsdl:message>

  <wsdl:message name="HelloWorldRequest">
    <wsdl:part name="request" element="tns:HelloWorldRequest" />
  </wsdl:message>
  <wsdl:message name="HelloWorldResponse">
    <wsdl:part name="response" element="tns:HelloWorldResponse" />
  </wsdl:message>

  <!-- Start HelloWorld method -->
  <wsdl:portType name="HelloWorldServicePort">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldRequest" />
      <wsdl:output message="tns:HelloWorldResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="HelloWorldAPI" type="tns:HelloWorldServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="HelloWorld" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="HelloWorldService">
    <wsdl:port binding="tns:HelloWorldAPI" name="HelloWorldServicePort">
      <soap:address location="#SOAP_URL#helloWorld"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End HelloWorld method -->

  <!-- Start DeleteBooking method -->
  <wsdl:portType name="DeleteBookingServicePort">
        <wsdl:operation name="DeleteBooking">
          <wsdl:input message="tns:DeleteBookingRequest"/>
          <wsdl:output message="tns:DeleteBookingResponse"/>
        </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DeleteBookingAPI" type="tns:DeleteBookingServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="DeleteBooking">
      <soap:operation soapAction="DeleteBooking" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DeleteBookingService">
    <wsdl:port binding="tns:DeleteBookingAPI" name="DeleteBookingServicePort">
      <soap:address location="#SOAP_URL#deleteBooking"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End DeleteBooking method -->

  <!-- Start UpdateBooking method -->
  <wsdl:portType name="UpdateBookingServicePort">
    <wsdl:operation name="UpdateBooking">
      <wsdl:input message="tns:UpdateBookingRequest"/>
      <wsdl:output message="tns:UpdateBookingResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="UpdateBookingAPI" type="tns:UpdateBookingServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="UpdateBooking">
      <soap:operation soapAction="UpdateBooking" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="UpdateBookingService">
    <wsdl:port binding="tns:UpdateBookingAPI" name="UpdateBookingServicePort">
      <soap:address location="#SOAP_URL#updateBooking"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End UpdateBooking method -->

  <!-- Start GetBookings method -->
  <wsdl:portType name="GetBookingsServicePort">
    <wsdl:operation name="GetBookings">
      <wsdl:input message="tns:GetBookingsRequest"/>
      <wsdl:output message="tns:GetBookingsResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GetBookingsAPI" type="tns:GetBookingsServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="GetBookings">
      <soap:operation soapAction="GetBookings" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="GetBookingsService">
    <wsdl:port binding="tns:GetBookingsAPI" name="GetBookingsServicePort">
      <soap:address location="#SOAP_URL#getBookings"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End GetBookings method -->

  <!-- Start DeleteRelation method -->
  <wsdl:portType name="DeleteRelationServicePort">
    <wsdl:operation name="DeleteRelation">
      <wsdl:input message="tns:DeleteRelationRequest"/>
      <wsdl:output message="tns:DeleteRelationResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DeleteRelationAPI" type="tns:DeleteRelationServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="DeleteRelation">
      <soap:operation soapAction="DeleteRelation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DeleteRelationService">
    <wsdl:port binding="tns:DeleteRelationAPI" name="DeleteRelationServicePort">
      <soap:address location="#SOAP_URL#deleteRelation"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End DeleteRelation method -->

  <!-- Start UpdateRelation method -->
  <wsdl:portType name="UpdateRelationServicePort">
    <wsdl:operation name="UpdateRelation">
      <wsdl:input message="tns:UpdateRelationRequest"/>
      <wsdl:output message="tns:UpdateRelationResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="UpdateRelationAPI" type="tns:UpdateRelationServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>

  <wsdl:operation name="UpdateRelation">
    <soap:operation soapAction="UpdateRelation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="UpdateRelationService">
    <wsdl:port binding="tns:UpdateRelationAPI" name="UpdateRelationServicePort">
      <soap:address location="#SOAP_URL#updateRelation"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End UpdateRelation method -->

  <!-- Start GetRelations method -->
  <wsdl:portType name="GetRelationsServicePort">
    <wsdl:operation name="GetRelations">
      <wsdl:input message="tns:GetRelationsRequest"/>
      <wsdl:output message="tns:GetRelationsResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GetRelationsAPI" type="tns:GetRelationsServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="GetRelations">
      <soap:operation soapAction="GetRelations" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="GetRelationsService">
    <wsdl:port binding="tns:GetRelationsAPI" name="GetRelationsServicePort">
      <soap:address location="#SOAP_URL#getRelations"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End GetRelations method -->

  <!-- Start DeleteAspect method -->
  <wsdl:portType name="DeleteAspectServicePort">
    <wsdl:operation name="DeleteAspect">
      <wsdl:input message="tns:DeleteAspectRequest"/>
      <wsdl:output message="tns:DeleteAspectResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DeleteAspectAPI" type="tns:DeleteAspectServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="DeleteAspect">
      <soap:operation soapAction="DeleteAspect" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DeleteAspectService">
    <wsdl:port binding="tns:DeleteAspectAPI" name="DeleteAspectServicePort">
      <soap:address location="#SOAP_URL#deleteAspect"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End DeleteAspect method -->

  <!-- Start UpdateAspect method -->
  <wsdl:portType name="UpdateAspectServicePort">
    <wsdl:operation name="UpdateAspect">
      <wsdl:input message="tns:UpdateAspectRequest"/>
      <wsdl:output message="tns:UpdateAspectResponse"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="UpdateAspectAPI" type="tns:UpdateAspectServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="UpdateAspect">
      <soap:operation soapAction="UpdateAspect" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="UpdateAspectService">
    <wsdl:port binding="tns:UpdateAspectAPI" name="UpdateAspectServicePort">
      <soap:address location="#SOAP_URL#updateAspect"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End UpdateAspect method -->

  <!-- Start GetAspects method -->
  <wsdl:portType name="GetAspectsServicePort">
    <wsdl:operation name="GetAspects">
      <wsdl:input message="tns:GetAspectsRequest"/>
      <wsdl:output message="tns:GetAspectsResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GetAspectsAPI" type="tns:GetAspectsServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="GetAspects">
      <soap:operation soapAction="GetAspects" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="GetAspectsService">
    <wsdl:port binding="tns:GetAspectsAPI" name="GetAspectsServicePort">
      <soap:address location="#SOAP_URL#getAspects"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End GetAspects method -->

  <!-- Start Logout method -->
  <wsdl:portType name="LogoutServicePort">
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="LogoutAPI" type="tns:LogoutServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="Logout" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="LogoutService">
    <wsdl:port binding="tns:LogoutAPI" name="LogoutServicePort">
      <soap:address location="#SOAP_URL#logout"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End Logout method -->

  <!-- Start Login method -->
  <wsdl:portType name="LoginServicePort">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginRequest"/>
      <wsdl:output message="tns:LoginResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="LoginAPI" type="tns:LoginServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" wsdl:required="false"/>
    <wsdl:operation name="Login">
      <soap:operation soapAction="Login" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="LoginService">
    <wsdl:port binding="tns:LoginAPI" name="LoginServicePort">
      <soap:address location="#SOAP_URL#login"/>
    </wsdl:port>
  </wsdl:service>
  <!-- End Login method -->
</wsdl:definitions>
